*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html , body{
    height: 100%;
    width: 100%;
    color: white;
}

#main{
    height: 90%;
    width: 100%;
    background-color: rgb(25, 23, 23);
    display: flex;
    padding: 5vw 10vw;

    > #left{
        height: 100%;
        width: 45%;
        background-color: rgba(83, 76, 76, 0.26);
        background-image: url(./images/Animal-2-2.jpeg);
        background-size: cover;
        background-position: top;

    }

    >#right{
        height: 100%;
        width: 55%;
        padding: 0 3vw;

        >h3{
            font-size: 40px;
            text-align: center;
        }
        
        >#all-songs{
            height: 85%;
            margin-top:30px;
            >.song-card{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-top:1px solid #5a5a5a;
                padding: 10px 10px;


                >.part1{
                     display: flex;
                     align-items: center;
                     justify-content: space-between;
                     pointer-events: none;

                    img{
                        height: 70px;
                        width: 70px;
                        margin-right: 20px;
                        border-radius: 15px;
                    }
                    >h2{
                        font-size: 22px;
                        font-weight: 500;
                    }
                }
                >h6{
                    font-size: 20px;
                }
                
            }
        } 

    }
}
.song-card:nth-last-child(1){
    border-bottom: 1px solid #5a5a5a;
}
.song-card:hover{
    background-color: #444;
}
#player{
    height: 10%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    h3{
        background-color: rgba(30, 30, 30, 0.737);
        border-radius: 50%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;

        i{
           font-size: 24px;
        }
    }

}
#player h3:active{
    scale: 0.93;
}